<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Sito web</title>
    </head>
    <body>
        <main>
            {% block content %}
            <h1>Riscaldamento globale</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum minus vitae totam unde reprehenderit qui tenetur quidem autem repellendus porro suscipit amet soluta quibusdam incidunt nulla dolores, voluptatum laudantium tempore.</p>
            {% endblock %}
        </main>
    </body>
</html>